@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');



body{
  margin: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
      font-family: 'Noto Serif JP', sans-serif;

}

.topp{
	 position: relative;/*相対配置*/
}
.topp h1 {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 0;
  left: 0;
  }
header{
  height: 250px;
}
/* nav{
  width: 150px;
} */
aside{
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;

  position: absolute; /* 固定コマンド */
}
main{
  flex: 1;
  margin-left: 200px;


}
main h3{
  line-height: 45px
}
main ul{
  line-height: 30px
}
div{
  display: flex;
  /* flex: 1; */
}
footer{
  height: 90px;
  margin-left: 200px;

}
.topPic {
  width: 100%;
  height: 250px;
  object-fit: cover;

}
.kaoPic {
  width: 150px;
  height: 150px;
  object-fit: cover; /* この一行を追加するだけ！ */
  border-radius: 10%;
}


.daihyo{
  margin: 0;
}

.dadada{
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.dadadada{
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.dadada p{
  position: absolute;/*絶対配置*/
  color: rgb(0, 0, 0);/*文字は白に*/
  font-weight: bold; /*太字に*/
  /* font-size: 2em; */
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 00%;
  left: 10%;
}
.dadadada p{
  position: absolute;/*絶対配置*/
  color: rgb(255, 255, 255);/*文字は白に*/
  font-weight: bold; /*太字に*/
  /* font-size: 2em; */
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 0%;
  left: 10%;
}


svg {
    display: block;
    position: absolute;/*絶対配置*/
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin:	auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #0099CC;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #FFFFFF;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #006699;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #FFFFFF;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #003366;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}



.menumenu{
	float:left;
	width: calc(42% - 16px);
	margin-left:8%;
		margin-top:20px;
	margin-bottom:20px;

}
.menupic {
  width: 80px;
  height: 80px;
  object-fit: cover; /* この一行を追加するだけ！ */
  border-radius: 10%;
}

.menu2 {
flex-direction: column;
margin-left:8px;

}
.menu2 a{
color:#0088cc;
font-size:15px;
}
.menu2 p{
font-size:13px;
margin:0;
}

.title {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0;
  -webkit-text-fill-color: transparent;
  background-image: url("http://66.media.tumblr.com/9d5be60c175cdbe15e875fef01b9a66b/tumblr_ntz3mmEFFr1twd8ddo1_500.gif");
  background-size: cover;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}


