

.btn1 {
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 10;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;

}

.btn1::before {
  content: '';
  background-color: #dda284;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  border-radius: 50%;
  box-shadow:
      0 0 0 0 #fff,
      0 0 0 0 #dda284;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.btn1:hover::before {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  box-shadow:
      0 0 0 25px #fff,
      0 0 0 27px #dda284;
}

input.btn1 {
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 10;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;

}

input.btn1::before {
  content: '';
  background-color: #dda284;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  border-radius: 50%;
  box-shadow:
      0 0 0 0 #fff,
      0 0 0 0 #dda284;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
input.btn1:hover::before {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  box-shadow:
      0 0 0 25px #fff,
      0 0 0 27px #dda284;
}

.btn2 {
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 10;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;

}

.btn2::before {
  content: '';
  background-color: #84aedd;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: -1;
  border-radius: 50%;
  box-shadow:
      0 0 0 0 #fff,
      0 0 0 0 #84aedd;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.btn2:hover::before {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  box-shadow:
      0 0 0 25px #fff,
      0 0 0 27px #84aedd;
}

/* .btnn{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
} */


.bodyB{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.headerB{
  /* height: px; */
  /* flex: 1; */
  width: 80%;
  margin: auto;
  /* margin-top: 10px; */
  max-width: 500px;
  height: 150px;


}
/* nav{
  width: 150px;
} */

.left{
  /* height: 200px;
  margin-left: 100px;
  margin-right: 50px;
  flex: auto; */
  width: 80%;
  margin: auto;
  margin-top: 0;
  max-width: 460px;
}
.right{
  margin-left: 40px;
  margin-right: 40px;
}
.pp{
  width: 70px;
  margin-left: auto;
    margin-right: auto;
  /* width: 80%; */
}
.aaa{
  width: 150px;
  margin-left: auto;
    margin-right: auto;
  /* width: 80%; */
}

.mainB{
  height: 150px;
}
.kinmu{
  width: 65px;
  margin-left: auto;
  margin-right: auto;
}

.aas{
width: 150px;
height: 150px;
text-align:center;
}


.status {
font-size: 50px;
text-align: center;
line-height: 50px;
font-weight: bold;
color: #FFF;
text-shadow:
0 0 0.10em #0019ff,
0 0 0.20em #0019ff,
0 0 0.30em #0019ff,
0 0 0.40em #0019ff;
filter: saturate(80%);
}


