@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Noto Serif JP', sans-serif;
}

.topp {
	position: relative; /*相対配置*/
}

.topp h1 {
	position: absolute; /*絶対配置*/
	color: white; /*文字は白に*/
	top: 0;
	left: 0;
}

header {
	height: 300px;
}
/* nav{
  width: 150px;
} */
aside {
	width: 200px;
	margin-top: 20px;
	margin-right: 20px;
	position: absolute; /* 固定コマンド */
}

main {
	flex: 1;
	margin-left: 200px;
	margin-bottom: 20px;
}

main h3 {
	line-height: 45px
}

main ul {
	line-height: 30px
}

div {
	display: flex;
	/* flex: 1; */
}

footer {
	display: flex;
	background: rgb(228, 228, 228);
}

.footmenu {
	margin-top: auto;
	margin-bottom: 20px;
}

.foot {
	margin-bottom: 10px;
	flex-direction: column;
	text-align: center;
	margin: auto;
}

.foot h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.login {
	margin: auto;
}

.login p {
	margin-top: 0;
	margin-bottom: 0;
}

.topPic {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin: auto;
}

.kaoPic {
	width: 150px;
	height: 150px;
	object-fit: cover; /* この一行を追加するだけ！ */
	border-radius: 10%;
}

.kouhou {
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.hyousyou {
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
}

.kouhou p {
	position: absolute; /*絶対配置*/
	color: rgb(0, 0, 0); /*文字は白に*/
	font-weight: bold; /*太字に*/
	/* font-size: 2em; */
	top: 00%;
	margin: auto;
	text-align: center;
	width: 140px;
}

.hyousyou p {
	position: absolute; /*絶対配置*/
	color: rgb(255, 255, 255); /*文字は白に*/
	font-weight: bold; /*太字に*/
	/* font-size: 2em; */
	top: 0%;
	margin: auto;
	text-align: center;
	width: 150px;
}

.menumenu {
	float: left;
	width: calc(42% - 16px);
	margin-left: 8%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menupic {
	width: 80px;
	height: 80px;
	object-fit: cover; /* この一行を追加するだけ！ */
	border-radius: 10%;
}

.menu2 {
	flex-direction: column;
	margin-left: 8px;
}

.menu2 a {
	color: #0088cc;
	font-size: 15px;
}

.menu2 p {
	font-size: 13px;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #333;
}

.menu {
	display: block;
	position: fixed; /* 固定コマンド */
}

.menuButton {
	display: block;
	height: 80px;
	width: 80px;
	background: rgb(228, 228, 228);
	opacity: 0.9;
	border-radius: 1em;
	position: fixed; /* 固定コマンド */
	top: 0;
	right: 0;
	transition: .3s;
	z-index: 51;
}

.menuButton div {
	height: 1px;
	width: 60%;
	background: rgb(71, 71, 71);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: ease-out 0.3s;
}

.menuButton.active {
	background-color: #fff;
}

.menuButton div:nth-of-type(1) {
	transform: translate(-50%, -15px);
}

.menuButton div:nth-of-type(3) {
	transform: translate(-50%, 15px);
}

.menuButton.active div:nth-of-type(1) {
	transform: rotate(45deg) translate(-50%, -0px);
	transform-origin: 0% 50%;
}

.menuButton.active div:nth-of-type(3) {
	transform: rotate(-45deg) translate(-50%, 0px);
	transform-origin: 0% 50%;
}

.menuButton.active div:nth-of-type(2) {
	width: 70%;
	height: 70%;
	border: 1px solid #333;
	background-color: transparent;
	border-radius: 15%;
}

nav {
	opacity: 0;
	visibility: hidden;
	transform: translate(100%);
	transition: 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	width: 200px;
	max-height: 100vh;
	height: 100vh;
	z-index: 50;
	padding-top: 200px;
	overflow: auto;
	box-shadow: 0 0 10px 3px rgb(87, 87, 87);
}

nav ul {
	text-align: center;
}

nav ul li:not(:first-of-type) {
	margin-top: 20px;
}

nav.active {
	opacity: 1;
	visibility: visible;
	transform: translate(0%);
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(221, 221, 221);
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: 0.3s;
}

.mask.active {
	opacity: 0.7;
	visibility: visible;
}